nav.navbar.navbar-expand-lg.card.navbar-dark
    h2.navbar-title Категории
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#categoriesMenu" aria-controls="categoriesMenu" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
    #categoriesMenu.collapse.navbar-collapse
        .list-group.list-group-flush
            a(href="./category.html", title="title").list-group-item.list-group-item-action
                button.btn.btn-link.text-muted(type="button").d-inline-flex.align-items-center
                    i.fa.fa-tree(aria-hidden="true")
                    | Путешествия
            a(href="./category.html", title="title").list-group-item.list-group-item-action        
                button.btn.btn-link.text-muted(type="button").d-inline-flex.align-items-center
                    i.fa.fa-home(aria-hidden="true")
                    | Дом
            a(href="./category.html", title="title").list-group-item.list-group-item-action        
                button.btn.btn-link.text-muted(type="button").d-inline-flex.align-items-center 
                    i.fa.fa-coffee(aria-hidden="true")
                    | Отдых
            a(href="./category.html", title="title").list-group-item.list-group-item-action        
                button.btn.btn-link.text-muted(type="button").d-inline-flex.align-items-center
                    i.fa.fa-paperclip(aria-hidden="true")
                    | Офис
            a(href="./category.html", title="title").list-group-item.list-group-item-action        
                button.btn.btn-link.text-muted(type="button").d-inline-flex.align-items-center
                    i.fa.fa-envira(aria-hidden="true")
                    | Красота