form.card
    .form-group.card-body
        label.card-title(for="firstEmail") 
            | подпишись 
            br
            | на наши новости
        input#firstEmail.form-control(type="email" placeholder="")