.card
    .card-header.bg-transparent
        a.badge(href="#") sale
        a(href="./../../product.html")
            img.card-img-top.img-fluid(src='img/sale/bag.png', alt='black5' title = "black5")
    .card-body
        .card-title Рюкзак для ноутбука
        .price $ 15
    .card-footer
        include ./btn/btn.pug