.col-flex
    include ./bag.pug
.col-flex
    include ./jbl.pug
.col-flex
    include ./box.pug
.col-flex
    include ./bag.pug
.col-flex
    include ./jbl.pug
.col-flex
    include ./bag.pug
.col-flex
    include ./box.pug
.col-flex
    include ./box.pug