.card
    .card-header.bg-transparent
        a.badge.invisible(href="#") sale
        a(href="./../../product.html")
            img.card-img-top.img-fluid(src='img/sale/jbl.png', alt='black5' title = "black5")
    .card-body
        .card-title Портативная акустика jbl go
        .price $ 15
    .card-footer
        include ./btn/btn.pug