.container
	.row.top
		.col-lg-2.col-3.logo
			nav
				a.navbar-brand(href="/")
					span.text-danger B
					span.text-dark otniki
		.col-auto.flex-grow-1
			form.search.form-inline
				input.form-control(type="search" placeholder="" aria-label="Search")
				button.btn(type="submit") Поиск
		.col-lg-3.col-12.menu-user
			.btn-group(role="group" aria-label="")
				a(href="#")
					i.fa.fa-shopping-cart.mr-3(aria-hidden="true")
					i.fa.fa-btc.mr-3(aria-hidden="true") 2000
				a(href="./login.html")
					i.fa.fa-user-o.mr-3(aria-hidden="true")
					span Linstrem25