meta(charset='utf-8')
meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="keywords" content="Botniki")
meta(property="og:locale" content="ru_RU")
meta(property="og:type" content="article")
meta(property="og:title" content="Botniki")
meta(property="og:image" content="http://Botniki.pro/img/logo.png")
meta(property="og:image:width" content="300")
meta(property="og:image:height" content="300")
meta(property="og:description" content="Botniki ")
meta(property="al:android:url" content="http://hetta.pro/")
meta(name="description" content="Botniki")
meta(name="robots" content="index, follow, noodp")
link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
//- link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/libs.css")
link(rel="stylesheet", href="css/style.css")
link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
link(href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css", rel="stylesheet")
title Botniki