.type {
    .btn {
        &.collapsed {
            .fa-minus {
                &:before {
                    content: "\f067"
                }
            }
        }
        .show {
            .fa-minus {
                &:before {
                    content: "\f068"
                }
            }
        }
    }
}
//price
.filter{
    .custom-control{
        @extend .py-3;
        @extend .list-group-item;
        &:last-child {
            @extend .border-bottom-0;
        }
    }
    .custom-control-label{
        @extend .pl-4;
    }
    .searce {
        @extend .my-3;
        @extend .mx-auto;
        @extend .btn-primary;
    }
    .custom-control-label {   
        &[for="Check2"] {
            color:red;
            @extend .font-weight-bold;
        }
    }
}
.type, .rate, .filter {
    .title-card {
        @extend .h5;
        @extend .text-uppercase;
        @extend .font-weight-bold;
    }
    .title-card{
        @extend .h5;
    }
}
.rate {
    .form-group {
        @extend .align-items-end;
    }
    label {
        @extend .font-weight-bold;
        @extend .pb-0;
    }
}