.col-3.mini-slider
    a(href="").icon
        i.fa.fa-angle-up
    a(href="#").slide-img
        img(src="./img/sale/box.png" alt="box" title="box").img-fluid
    a(href="#").slide-img.opacity
        img(src="./img/sale/box.png" alt="box" title="box").img-fluid
    a(href="").icon
        i.fa.fa-angle-down
.col.big-slider
    a(href="#")
        img(src="./img/sale/box.png" alt="box" title="box").img-fluid