.mini-slider.col-lg-4
    a(href="").icon
        i.fa.fa-angle-up
    a(href="#").slide-img
        img.img-fluid(src="./img/sale/box.png" alt="box" title="box").img-fluid
    a(href="#").slide-img.opacity
        img.img-fluid(src="./img/sale/box.png" alt="box" title="box").img-fluid
    a(href="").icon
        i.fa.fa-angle-down
.big-slider.col-lg-8
    a(href="#").card-body
        img.img-fluid(src="./img/sale/box.png" alt="box" title="box").img-fluid.w-100