.mini-slider.col-md-4
    a(href="").icon
        i.fa.fa-angle-up
    a(href="#").slide-img
        img(src="./img/sale/box.png" alt="box" title="box").img-fluid
    a(href="#").slide-img.opacity
        img(src="./img/sale/box.png" alt="box" title="box").img-fluid
    a(href="").icon
        i.fa.fa-angle-down
.big-slider.col-md-8
    a(href="#").card-body
        img(src="./img/sale/box.png" alt="box" title="box").img-fluid.w-100