doctype html
html(lang='ru-Ru')
	head
		include ./content/head.pug
	body.check-one
		main
			.container
				section
					h3
						.title Регистрация
						.row.form
							form.info.col-12.col-lg-7
								.row.justify-content-center
									.col-10
										h3.title-left Персональная информация
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Name") Ваше Имя
											input#Name.form-control(type="text" placeholder="Введите Имя" value="Сюткин")
											.valid-tooltip Введите Имя
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Surname") Ваше Фамилия
											input#Surname.form-control(type="text" placeholder="Введите Имя" value="Сергей")
											.valid-tooltip Введите Фамилию
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Patronymic") Отчество
											input#Patronymic.form-control(type="text" placeholder="Введите Имя" value="Фиалкин")
											.valid-tooltip Введите Отчество
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Email") E-mail
											input#Email.form-control(type="email" placeholder="Введите E-mail" value="email@email.ru")
											.valid-tooltip Введите E-mail
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Phone") Номер телефона
											input#Phone.form-control(type="tel" placeholder="+7 (900) 999-99-99" value="+7 (900) 999-99-99")
											.valid-tooltip Введите номер телефона
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Telegram") Username Telegram
											input#Telegram.form-control(type="text" placeholder="Введите Username" value="@email")
											.valid-tooltip Введите Username Telegram
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="Subdivision") Подразделение
											select#Subdivision.form-control.custom-select.custom-select-sm
												option(value="Набор 1" selected)
													p Набор 1
												option(value="Набор 2")
													p Набор 2
												option(value="Набор 3")
													p Набор 3
												option(value="Набор 4")
													p Набор 4
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="password") Пароль
											input#password.form-control(type="password" placeholder="Введите пароль" value="**********")
											.valid-tooltip Введите Пароль
									.col-10
										.form-group
											label.text-muted.col-form-label-sm(for="passwordRepeat") Повторить Пароль
											input#passwordRepeat.form-control(type="password" placeholder="Введите пароль" value="**********")
											.valid-tooltip Повторить Пароль
							aside.step.col-12.col-lg-5
								.d-flex.step-dash
									.rounded-circle.border.border-light.circle 1
									hr.dash
									.rounded-circle.border.border-light.circle 2
									hr.dash
									.rounded-circle.border.border-light.circle &#10003;
								.step-info
									i.fa.fa-user-circle.fa-5x
								.step-desc
									p 
										|Заполните личные данные.
										br
										| Информация используется в соответствии с политикой конфиденнциальности
								.row.send-btn
									a(href="./check_in_two.html")
										button.send.btn(type="submit")
											| Шаг 2
	include ./content/scripts.pug