// для main
.stock {
    aside {
        bottom: 0rem;
        @include media-breakpoint-up(lg) {
            bottom: $spacer * 7;
        }
        .navbar {
            border-radius: 0;
            @extend .border-0;
            @extend .shadow;
            @extend .mt-0;
        }
        .categoriesMenu { 
            @extend .navbar-dark;
            @extend .bg-dark;
            .navbar-title {
                background-color: lighten($dark, 6%);
                @extend .text-light;
                @extend .justify-content-lg-center;
            }
        }
        .subscribe {
            @extend .mt-5;
            @extend .pt-3;
            .card {
                @extend .pt-5;
                @extend .bg-secondary;
                @extend .shadow;
                @extend .px-4;
                .card-title {
                    @extend .font-weight-bold;
                    @extend %letter;
                }
            }
        }
    }
}
