.profile-page {
    aside {
        a.list-group-item-action {
            background-color: transparent !important;
            @extend .py-4;
        }
        .navbar {
            background-color: transparent !important;
        }
    }
    .navbar-collapse {
        @extend .w-100;
    }
    .personally {
        .btn-link {
            color: $cyan;
            @include hover-focus {
                color: lighten($cyan, 10%);
            }
        }

        form {
            dl, dd, .form-group{
                @extend .mb-0;
            }
            input {
                @extend .border-0;
                @extend .px-0;
                @extend .py-0;
            }            
            .btn {
                font-size: 1em;
            }
        }
    }
}