.profile-page {
    .card-profile {
        @extend .shadow;
        @extend .mb-5;
    }
    .title-left {
        @extend .text-lowercase;
        @extend %letter;
    }
    .btn-link {
        color: $cyan;
        @include hover-focus {
            color: lighten($cyan, 10%);
        }
    }
    dt, dd, label {
        @extend .mb-0;
        @extend .d-flex;
    }       

    .personally {
        @extend .p-4;
        .name {
            @extend .my-4;
            dt {
                @extend .font-weight-bold;
            }
        }
        form {
            input {
                @extend .border-0;
                @extend .px-0;
                @extend .py-0;
            }            
            .btn {
                font-size: 1em;
            }
        }
        dl {
            @include hover-focus {
                dt > .btn {
                    visibility: visible;
                }
            }
            dt > .btn {
                visibility: hidden; 
            }
        }
    }
    .address-form {
        @extend .p-4;
        .title-left {
            @extend .mt-0;
        }        
        .form-control {
            @extend .font-weight-normal;
            @extend %letter;
        }
        .btn {
            font-size: 0.75em;
        }
        dd {
            .btn {
                visibility: hidden;
            }   
        }
        @include hover-focus {
            visibility: visible;
        }
        dl {
            @include hover-focus {
                & > dd .btn {
                    visibility: visible;
                }
            }
        }
    }
}
.card-password {
    @extend .px-4;
    @extend .shadow;
    .title-left {
        @extend .h4;
        @extend .mt-0;
    }
    .form-control {
        @extend .font-weight-normal;
        @extend %letter;
    }
    .send-password {
        a {
            @extend .d-flex;
            @extend .justify-content-end;
        }
    }
    .btn {
        @extend .text-dark;
    }
}
.profile-menu {
    a.list-group-item-action {
        background-color: transparent !important;
        @extend .py-4;
    }
    .navbar {
        background-color: transparent !important;
    }
}