.card
    .card-header 
        h3.title-card Фильтры
    .card-body
        form.list-group.list-group-flush
            each val, index in ['Популярное', 'Новинки', 'SALE']
                .custom-control.custom-checkbox
                        if index == 0 
                            input.custom-control-input(id='Check' + index type="checkbox" checked)
                            label.custom-control-label(for='Check' + index)=val
                        else
                            input.custom-control-input(id='Check' + index type="checkbox")
                            label.custom-control-label(for='Check' + index)=val
            a(href="#", title="title").searce Сбросить фильтры