-
    var rout = [
        {'name': 'Главная', 'link' : "/index.html"},
        {'name': 'Корзина', 'link' : "/cart.html"},
    ];
.container
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            each val, index in rout
                li.breadcrumb-item
                    a(href=val.link, title=val.name)=val.name