.jumbotron.jumbotron-fluid
    .container
        .row
            .col-8.col-lg-6
                h1.lead-tetle
                    | Black
                    br 
                    | Friday
                p.lead.text
                    | Тотальная распродажа
                    br 
                    | c 
                    span 27-29
                    |  ноября        
                p.lead
                    button.btn(type="button") Смотреть еще
.mini-banners
    .card-deck
        .card
           .banner-mini
        .card
            .banner-mini
        .card
            .banner-mini