.col-12.col-lg-6.pb-4.pb-lg-0
    .jumbotron.jumbotron-fluid.h-100
.col-12.col-lg-6
    .row
        .col-12
            .jumbotron.jumbotron-fluid
    .row
        .col-12.col-lg-6.pb-4.pb-lg-0
            .banner-mini
        .col-12.col-lg-6
            .banner-mini