.row
    .col-12
        .card-deck.d-flex.justify-content-lg-between.justify-content-center.m-auto
            
                include ../../content/product/previous/box.pug
            
                include ../../content/product/previous/bag.pug
            
                include ../../content/product/previous/jbl.pug
            
                include ../../content/product/previous/bag.pug
            
                include ../../content/product/previous/jbl.pug