.row
    .col-12
        .card-deck.previous-flex
            include ../../content/product/previous/box.pug
            include ../../content/product/previous/bag.pug
            include ../../content/product/previous/jbl.pug
            include ../../content/product/previous/bag.pug
            include ../../content/product/previous/jbl.pug