html {
    @extend .h-100;
}
main {
    @extend .h-100;
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-grow-1;
    @extend .bg-light;
    @extend .py-5;
    .line {
        @extend .m-5;
        @extend .shadow-sm;
    }
}
section, aside, article {
    @extend .pb-3;
}
%letter {
    &::first-letter {
        @extend .text-capitalize;
    }
}

.jumbotron {
    background-image: url('../img/banner/banner.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 50vh;
    height: 30.5rem;
}
.banner-mini {
    background-image: url('../img/banner/banner_mini.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}
.send, .reg {
    @extend .text-center;
    @extend .btn-lg;
    @extend .font-weight-bold;
    @extend .text-uppercase;     
    font-size: $font-size-sm;
    @extend .my-3;
    @extend .py-3;
}
.send {
    @extend .btn-warning;
}
.search {
        @extend .align-items-stretch;
    .form-control {
        @extend .border;
        @extend .border-dark;
        @extend .border-right-0;
    }
    .btn {
        @extend .btn-warning;
    }
}
.reg {
    @extend .btn-link;
}
.page-title {
    @extend .h4;
    @extend %letter;
    @extend .py-4;
    @extend .text-uppercase;
    @extend .font-weight-bold;
}
.title {
    @extend .font-weight-bold;
    @extend .text-uppercase;
    @extend .h4;
    // @extend .pb-3;
    @extend .my-5;
    text-align: center;
}
.title-left {
    text-align: left;
    @extend .title;
    @extend .p-0;
    @extend .m-0;
    @extend .mb-3;
}
.badge {
    @extend .small;
}
.badge {
    @extend .mr-3;
    @extend .my-3;
    .close {
        @extend .d-flex;
        @extend .align-items-center;
        span {
            @extend .position-relative;
            bottom: .1em;
        }
    }
}
.badge-name{
    @extend .mx-5;
    @extend .my-auto;
    @extend .py-2;
    @extend .h6;
    @extend .float-left;
}
.fa {
    @extend .mr-2;
}
.price {
    @extend .h3;
}
.circle {
    width: 3rem;
    height: 3rem;
    @extend .mx-1;
}
.previous-flex {
    @extend .d-flex;
    @extend .justify-content-lg-between;
    @extend .justify-content-center;
    @extend .m-auto;
    .card-body {
        @extend .text-center;
    }
}
.send-btn {
    @extend .m-auto;
    @extend .justify-content-center;
}
.send {
    @extend .rounded-0;
    width: 15rem;
}
.form {
    @extend .shadow;
}

.form-control {
    @extend .rounded-0;
    @extend .font-weight-bold;
    @extend .py-4;
    @include hover-focus {
        @extend .shadow-none;
        outline: 0;
    }
}
.contact_us, .login, .check-one, .check-two {
    .form-control {
        border: none;
        @extend .border-bottom;
        @extend .border-dark;
        // border-bottom: 1px solid $black;
    }
}

.number-box {
    @extend .col-6;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-around;
    @extend .py-2;
    @extend .border;
    @extend .shadow-sm;
}
.square {
    width: 1rem;
    height: 1rem;
    @extend.rounded-0;
}