-
    var met = [
        {'id': 'courier', 'name': 'Доставка курьером', 'action' : '', 'desc' : 'Заказ приедет по выбранному адресу'},
        {'id': 'pickup',  'name': 'Самовывоз',         'action' : '',            'desc' : 'Выберите адрес Постмата'},
        {'id': 'branch',  'name': 'Филиал',            'action' : 'active',            'desc' : 'Доставка в офис компании'}
    ];
.tab-pane(
        class=val.action
        id='nav-'+val.id
        aria-labelledby=val.id+'-tab'
        role="tabpanel"
)
    label Выбор филиала
    select.custom-select#Branch
        option(selected) Филиал1
        option(value="Филиал2") Филиал2
        option(value="Филиал3") Филиал3