.card
    a(href="#")
        img.card-img-top(src="./img/sale/bag.png", alt="jbl" title="jbl")
        .card-body
            .card-title Портативная акустика jbl go
            .card-text.price
                | 15 
                i.fa.fa-btc.mr-3(aria-hidden="true")