.address-form    
    .title-left адрес доставки
    form
        dl.form-group.row
            dt.col-sm-10
                input#City(type="text" placeholder="Город" required).form-control
                .valid-tooltip Ошибка
            dd.col-sm-2
                button(type="submit").btn.btn-link.small Изменить
        dl.form-group.row
            dt.col-sm-10
                input#Street(type="text" placeholder="Улица, дом" required).form-control
                .valid-tooltip Ошибка
            dd.col-sm-2
                button(type="submit").btn.btn-link.small Изменить
        dl.form-group.row
            dt.col-sm-10
                input#Room(type="text" placeholder="Квартира" required).form-control
                .valid-tooltip Ошибка
            dd.col-sm-2
                button(type="submit").btn.btn-link.small Изменить
        dl.form-group.row
            dt.col-sm-10
                input#FIO(type="text" placeholder="Фамилия, Имя, Отчество" required).form-control
                .valid-tooltip Ошибка
            dd.col-sm-2
                button(type="submit").btn.btn-link.small Изменить
        dl.form-group.row
            dt.col-sm-10
                input#Mail(type="mail" placeholder="Электронная почта" required).form-control
                .valid-tooltip Ошибка
            dd.col-sm-2
                button(type="submit").btn.btn-link.small Изменить
        dl.form-group.row
            dt.col-sm-10
                input#Phones(type="text" placeholder="Телефон" required).form-control
                .valid-tooltip Ошибка
            dd.col-sm-2
                button(type="submit").btn.btn-link.small Изменить