h3.title-left.card-title Смена пароля
form
    .row
        .col-12
            .form-group
                input#password.form-control(type="password" placeholder="Старый пароль" value="" required)
                .valid-tooltip Введите пароль
        .col-12
            .form-group
                input#passwordNew.form-control(type="password" placeholder="Новый пароль" value="" required)
                .valid-tooltip Введите Новый пароль
        .col-12
            .form-group
                input#passwordNewRepeat.form-control(type="password" placeholder="Повтарите новый пароль" value="" required)
                .valid-tooltip Повтарите новый пароль
    .row.send-password
        .col-12
            a(href="./index.html")
                button.btn-outline-primary.btn(type="submit")
                    | Сменить пароль