.card.card-profile
    .card-body
        .row
            .col-4.border-right
                include ./personally.pug
            .col-8
                include ./address.pug

.card-password
    .card-body
        .row
            .col-12
                include ./password.pug