.card.card-profile
    .card-body
        .row
            .col-3
                include ./personally.pug
            .col-9
                include ./address.pug

.card-password
    .card-body
        .row
            .col-12
                include ./password.pug